$ff-Roboto = 'Roboto', sans-serif
$ff-Exo2 = 'Exo2', sans-serif

$c-black = #1D1D1B
$c-black_1 = #02001D
$c-white = #fff

$c-blue = #2a3141
$c-blue_1 = #2f416f
$c-orange = #ea5e20
$c-orange_1 = #af674c
$c-grey = #c5cad6
$c-grey_1 =#696E7A
$c-red = #e03500
